/* CSS para os elementos collapsible */
.collapsible {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.collapsible-content {
    display: none;
    padding: 1rem;
    background-color: #34495e;
    color: #fff;
}

.collapsible.active .collapsible-content {
    display: block;
}

.collapsed-content.hidden {
    display: none;
}

.tag {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.new-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #50C878;
    color: #fff;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ajuste de z-index para garantir que o rótulo "Nova" fique acima do conteúdo do card */
.relative {
    z-index: 1;
}

/* Estilo para cards clicados */
.card-clicked {
    border: 2px solid #ff9900; /* Por exemplo, podemos adicionar uma borda laranja */
}